*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-color: black;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header:before {
  content: "";
  width: 50%;
  height: 128px;
  border-style: solid;
  border-color: black;
  background-color: black;
  position: absolute;
  bottom: 0px;
  left: 0;
  transform: rotate(5deg);
}
header:after {
  content: "";
  width: 50%;
  height: 128px;
  border-style: solid;
  border-color: black;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 1%;
  transform: rotate(-5deg);
}
header .headers {
  width: 90%;
  border-color: red;
  display: flex;
  justify-content: space-around;
}
header .headers .headers__left {
  width: 600px;
  border-color: blue;
}
header .headers .headers__left .headers__left__avatar {
  width: 100%;
  border-color: orange;
  position: relative;
}
header .headers .headers__left .headers__left__avatar img {
  width: 145%;
  position: absolute;
  top: 0;
  left: -30%;
}
header .headers .headers__right .headers__right__top {
  max-width: 700px;
  height: 192px;
  border-style: solid;
  border-color: white;
  border-width: 7.68px;
  position: relative;
  margin-top: 30px;
}
header .headers .headers__right .headers__right__top .background {
  max-width: 90%;
  background-color: #000000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -37.12px;
  border-style: solid;
  border-color: #000000;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__logo-title {
  width: 100%;
  border-color: orange;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 53.76px;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__logo-title .brackets {
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: #636363;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__logo-title .purple {
  color: #514CA0;
  margin-right: -3%;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__title-desc {
  width: 100%;
  border-color: blue;
  color: #898989;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16.64px;
  margin-top: 1%;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__title-desc span {
  margin-right: 14px;
  word-wrap: break-word;
  letter-spacing: 6px;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__white-line {
  width: 30%;
  height: 6.4px;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__description {
  width: 100%;
  border-color: pink;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 24.32px;
}
header .headers .headers__right .headers__right__top .background .headers__right__top__description span {
  font-weight: 400;
}
header .headers .headers__right .headers__right__pages {
  width: 100%;
  border-color: red;
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
}
header .headers .headers__right .headers__right__pages:hover .headers__right__pages__page:nth-child(1) {
  border-style: solid;
  border-color: black;
  box-shadow: 0px 0px 1vw 0.2vw black;
}
header .headers .headers__right .headers__right__pages .headers__right__pages__page {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 300;
  font-size: 16.64px;
  cursor: pointer;
  border-style: solid;
  border-width: 2.56px;
  border-color: black;
}
header .headers .headers__right .headers__right__pages .headers__right__pages__page:nth-child(1) {
  border-style: solid;
  border-color: #4A4878;
  box-shadow: 0px 0px 1vw 0.2vw #4A4878;
}
header .headers .headers__right .headers__right__pages .headers__right__pages__page:hover {
  border-style: solid;
  border-color: #4A4878;
  box-shadow: 0px 0px 1vw 0.2vw #4A4878;
}
header .headers .headers__right .headers__right__pages .headers__right__pages__page:active {
  background-color: #4A4878;
}
header .headers .headers__right .headers__right__do-it {
  width: 100%;
  border-color: red;
  color: white;
  margin-top: 12%;
  font-family: 'Caveat', cursive;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  margin-left: -4%;
}
header .headers .headers__right .headers__right__do-it:before {
  width: 64%;
  height: 0.3vw;
  background-color: #4A4878;
  content: "";
  position: absolute;
  bottom: -60%;
  right: 4%;
  box-shadow: 0px 0px 0.9vw 0.3vw #423C68;
}
header .headers .headers__right .headers__right__do-it span {
  color: #8B8B8B;
  font-family: 'Caveat', cursive;
  font-size: 34.56px;
}
main {
  width: 100%;
  border-color: red;
}
main .about {
  width: 100%;
  border-color: orange;
  display: flex;
  justify-content: space-around;
  perspective: 100vw;
  padding-top: 220px;
  padding-bottom: 80px;
  margin: 0 auto;
}
main .about .about__image {
  width: 55%;
  border-color: greenyellow;
  position: relative;
  transform: rotateY(4deg) rotateX(10deg) rotateZ(-6deg) scale(0.8);
  display: block;
  align-self: flex-start;
}
main .about .about__image img {
  width: 100%;
}
main .about .about__image .about__image__text {
  border-style: solid;
  border-color: #5750C6;
  text-align: center;
  font-size: 76.8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-width: 7.68px;
  position: absolute;
  bottom: -110px;
  left: 35%;
  color: white;
  box-shadow: 0px 0px 3vw 0.4vw #5750C6;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
}
main .about .about__image .about__image__text span {
  font-weight: 600;
  color: #2F235F;
}
main .about .about__text {
  width: 500px;
  border-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .about .about__text .about__text__description {
  border-color: red;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 28.16px;
  font-size: 16px;
}
main .about .about__text .abouut__text__button {
  width: 160px;
  border-style: solid;
  text-align: center;
  border-color: black;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-width: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 4%;
  cursor: pointer;
  color: #000000;
  transition-duration: 200ms;
  font-size: 16.64px;
}
main .about .about__text .abouut__text__button:hover {
  color: #5616ce;
  border-color: #5616ce;
}
.moduleAbout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 30px;
  padding-top: 50px;
  overflow-y: scroll;
  display: none;
  z-index: 10;
}
.moduleAbout .moduleAbout__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-color: red;
  width: 25px;
  cursor: pointer;
}
.moduleAbout .moduleAbout__close:hover {
  transform: scale(0.9);
}
.moduleAbout .moduleAbout__close img {
  width: 100%;
}
.moduleAbout .moduleAbout__top {
  max-width: 1280px;
  border-color: red;
  display: flex;
  margin: 0 auto;
}
.moduleAbout .moduleAbout__top .moduleAbout__top__we {
  width: 50%;
  border-color: orange;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.32px;
}
.moduleAbout .moduleAbout__top .moduleAbout__top__we span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #6f65ff;
}
.moduleAbout .moduleAbout__top .moduleAbout__top__about {
  width: 50%;
  border-color: greenyellow;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 17.408px;
  line-height: 25.6px;
  padding: 3%;
  padding-bottom: 2%;
  position: relative;
}
.moduleAbout .moduleAbout__top .moduleAbout__top__about:before {
  content: "";
  width: 4px;
  height: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #6f65ff;
}
.moduleAbout .moduleAbout__top .moduleAbout__top__about:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #6f65ff;
}
.moduleAbout .moduleAbout__top .moduleAbout__top__about span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 17.28px;
  color: #6f65ff;
}
.moduleAbout .moduleAbout__bottom {
  max-width: 1280px;
  border-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2%;
  position: relative;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock {
  width: 48.5%;
  border-style: solid;
  border-color: #393483;
  border-width: 2.56px;
  border-radius: 3.48px;
  padding: 19px;
  padding-bottom: 18px;
  margin-top: 30px;
  transform: scale(1);
  transition-duration: 200ms;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock:nth-child(4) {
  margin-left: auto;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock .moduleAbout__bottom__miniBlock__image {
  width: 100%;
  border-color: green;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock .moduleAbout__bottom__miniBlock__image img {
  width: 10%;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock .moduleAbout__bottom__miniBlock__title {
  width: 100%;
  border-color: hotpink;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16.128px;
  margin-top: 18px;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock .moduleAbout__bottom__miniBlock__description {
  width: 100%;
  border-color: indianred;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 17.28px;
  color: white;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__title {
  width: 50%;
  border-color: white;
  color: white;
  position: absolute;
  top: -33px;
  left: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24.32px;
}
.moduleAbout .moduleAbout__bottom .moduleAbout__bottom__title:before {
  content: "";
  width: 11%;
  height: 3.84px;
  background-color: #6f65ff;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.moduleAbout .moduleAbout__skills {
  max-width: 1280px;
  border-color: orange;
  margin: 0 auto;
  margin-top: 144px;
  display: flex;
  position: relative;
}
.moduleAbout .moduleAbout__skills .moduleAbout__bottom__title {
  width: 50%;
  border-color: white;
  color: white;
  position: absolute;
  top: -68px;
  left: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24.32px;
}
.moduleAbout .moduleAbout__skills .moduleAbout__bottom__title:before {
  content: "";
  width: 11%;
  height: 3.84px;
  background-color: #6f65ff;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.moduleAbout .moduleAbout__skills .moduleAbout__skills__langues {
  width: 100%;
  border-color: red;
  margin-left: 50px;
  transform: scale(1);
  transition-duration: 200ms;
}
.moduleAbout .moduleAbout__skills .moduleAbout__skills__langues:nth-child(1) {
  margin-left: 20px;
}
.moduleAbout .moduleAbout__skills .moduleAbout__skills__langues:hover {
  transform: scale(0.9);
}
.moduleAbout .moduleAbout__skills .moduleAbout__skills__langues .moduleAbout__skills__langues__image {
  width: 100%;
  border-color: greenyellow;
}
.moduleAbout .moduleAbout__skills .moduleAbout__skills__langues .moduleAbout__skills__langues__image img {
  width: 160%;
  position: relative;
  left: -30%;
}
.moduleAbout .moduleAbout__skills .moduleAbout__skills__langues .moduleAbout__skills__langues__text {
  width: 100%;
  border-color: blue;
  text-align: center;
  color: white;
  margin-top: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17.92px;
}
.portfolio {
  width: 100%;
  border-color: red;
  margin-top: 350px;
  background-color: black;
  padding-bottom: 10%;
  position: relative;
}
.portfolio .portfolio__line {
  width: 80%;
  height: 10vw;
  background-color: #000000;
  position: absolute;
  top: -6.5vw;
  right: -1vw;
  transform: rotate(3deg);
  z-index: 1;
}
.portfolio .portfolio__line:nth-child(4) {
  background-color: #000000;
  top: 1.5vw;
  left: -55.99%;
  transform: rotate(-15deg);
}
.portfolio .portfolio__line:nth-child(5) {
  background-color: #000000;
  top: initial;
  bottom: -4vw;
  left: -1vw;
  transform: rotate(-3deg);
}
.portfolio .portfolio__line:nth-child(6) {
  background-color: #000000;
  top: initial;
  bottom: -9.3vw;
  left: 60vw;
  right: 0;
  transform: rotate(14deg);
}
.portfolio .portfolio__button {
  max-width: 260px;
  color: white;
  border-style: solid;
  border-color: white;
  text-align: center;
  padding: 9px;
  padding-bottom: 9px;
  border-width: 1.152px;
  margin: 0 auto;
  margin-top: 90px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 300ms;
  z-index: 2;
}
.portfolio .portfolio__button:hover {
  color: white;
}
.portfolio .portfolio__button:hover:before {
  left: 0%;
}
.portfolio .portfolio__button:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.24);
  position: absolute;
  transition-duration: 300ms;
}
.portfolio .portfolio__title {
  width: 100%;
  border-color: blue;
  margin-top: 50px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 32px;
  position: relative;
  z-index: 2;
}
.portfolio .portfolio__title:before {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -44%;
  width: 330px;
  height: 2.432px;
  background-color: #5750C6;
  box-shadow: 0px 0px 1.20vw 0.3vw #5750C6;
}
.portfolio .portfolio__title span {
  color: #5750C6;
}
.portfolio .portfolio__project {
  max-width: 1280px;
  border-color: #57ce07;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}
.portfolio .portfolio__project .portfolio__project__block {
  width: 29%;
  border-color: red;
  padding-top: 20px;
  padding-bottom: 2px;
  background: rgba(255, 255, 255, 0.14);
  position: relative;
  cursor: pointer;
  margin-top: 50px;
}
.portfolio .portfolio__project .portfolio__project__block:hover .portfolio__project__block__image img {
  top: -40%;
}
.portfolio .portfolio__project .portfolio__project__block:hover:before {
  box-shadow: 0px 0px 1.20vw 0.3vw #0ec536;
  background-color: #75c650;
}
.portfolio .portfolio__project .portfolio__project__block:before {
  content: "";
  width: 100%;
  height: 2.56px;
  background-color: #5750C6;
  bottom: -20px;
  left: 0;
  position: absolute;
  box-shadow: 0px 0px 1.20vw 0.3vw #5750C6;
  transition-duration: 300ms;
}
.portfolio .portfolio__project .portfolio__project__block .portfolio__project__block__image {
  width: 100%;
  border-color: blue;
  overflow: hidden;
  height: 179px;
  margin-bottom: 7px;
}
.portfolio .portfolio__project .portfolio__project__block .portfolio__project__block__image img {
  width: 100%;
  position: relative;
  top: 0;
  transition-duration: 300ms;
}
.portfolio .portfolio__project .portfolio__project__block .portfolio__project__block__title {
  width: 100%;
  border-color: blue;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15.36px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
}
.modulePortfolio {
  width: 100%;
  border-color: red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 10;
  padding: 24px;
  display: none;
}
.modulePortfolio .modulePortfolio__top {
  max-width: 1280px;
  border-color: #57ce07;
  display: flex;
  position: relative;
  margin: 0 auto;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__title {
  width: 100%;
  border-color: white;
  color: white;
  position: absolute;
  top: 0%;
  left: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24.32px;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__title:before {
  content: "";
  width: 90px;
  height: 3.84px;
  background-color: #6f65ff;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__github {
  width: 25%;
  border-color: red;
  margin-left: auto;
  display: flex;
  transition-duration: 200ms;
  text-decoration: none;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__github:hover {
  margin-right: 3%;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__github:hover .modulePortfolio__top__github__text {
  color: #8f87fd;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__github img {
  width: 40px;
  height: 40px;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__github .modulePortfolio__top__github__text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16.64px;
  line-height: 37.12px;
  padding-left: 20px;
  transition-duration: 200ms;
  cursor: pointer;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__button {
  border-style: solid;
  border-color: white;
  border-width: 1.28px;
  color: white;
  text-align: center;
  line-height: 30.72px;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  margin-left: 13px;
  transition-duration: 200ms;
  transform: scale(1);
  margin-right: 25px;
  text-decoration: none;
}
.modulePortfolio .modulePortfolio__top .modulePortfolio__top__button:hover {
  transform: scale(0.9);
  border-color: #6f65ff;
  background-color: #6f65ff;
}
.modulePortfolio .modulePortfolio__description {
  max-width: 1280px;
  border-style: solid;
  border-color: #5048b8;
  border-width: 2.56px;
  border-radius: 2.56px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
}
.modulePortfolio .modulePortfolio__description .modulePortfolio__description__title {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16.64px;
}
.modulePortfolio .modulePortfolio__description .modulePortfolio__description__about {
  width: 100%;
  border-color: red;
  color: white;
  margin-top: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15.616px;
  line-height: 20.48px;
}
.modulePortfolio .modulePortfolio__screen {
  max-width: 1280px;
  border-color: red;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__title {
  width: 50%;
  border-color: white;
  color: white;
  position: absolute;
  top: -55px;
  left: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24.32px;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__title:before {
  content: "";
  width: 94px;
  height: 2.84px;
  background-color: #6f65ff;
  position: absolute;
  bottom: -7px;
  left: 0;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider {
  width: 100%;
  height: 152.6px;
  border-style: solid;
  border-color: #5048b8;
  border-width: 2.56px;
  border-radius: 3.84px;
  padding: 15px;
  margin-top: 40px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__arrow {
  width: 5%;
  border-color: red;
  position: absolute;
  top: 26%;
  left: 2%;
  transform: rotate(180deg);
  cursor: pointer;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__arrow:nth-child(2) {
  left: 92%;
  transform: rotate(0deg);
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__arrow:nth-child(2):hover {
  transform: scale(0.9) rotate(0deg);
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__arrow:hover {
  transform: scale(0.9) rotate(180deg);
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__arrow img {
  width: 100%;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__img {
  width: 23%;
  border-color: orange;
  overflow: hidden;
  cursor: pointer;
  margin-left: 2%;
  position: relative;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__img:hover img {
  top: -50%;
}
.modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__img img {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition-duration: 300ms;
}
.modulePortfolio .moduleAbout__skills {
  max-width: 1280px;
  margin: 0 auto;
  border-color: orange;
  margin-top: 90px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.modulePortfolio .moduleAbout__skills .moduleAbout__bottom__title {
  width: 100%;
  border-color: white;
  color: white;
  position: absolute;
  top: -59px;
  left: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24.32px;
}
.modulePortfolio .moduleAbout__skills .moduleAbout__bottom__title:before {
  content: "";
  width: 101px;
  height: 3.84px;
  background-color: #6f65ff;
  position: absolute;
  bottom: -7px;
  left: 0;
}
.modulePortfolio .moduleAbout__skills .moduleAbout__skills__langues {
  width: 80px;
  border-color: red;
  margin-left: 50px;
  transition-duration: 200ms;
  margin-top: 30px;
}
.modulePortfolio .moduleAbout__skills .moduleAbout__skills__langues:nth-child(1) {
  margin-left: 2%;
}
.modulePortfolio .moduleAbout__skills .moduleAbout__skills__langues:hover {
  transform: scale(0.9);
}
.modulePortfolio .moduleAbout__skills .moduleAbout__skills__langues .moduleAbout__skills__langues__image {
  width: 100%;
  border-color: greenyellow;
}
.modulePortfolio .moduleAbout__skills .moduleAbout__skills__langues .moduleAbout__skills__langues__image img {
  width: 160%;
  position: relative;
  left: -30%;
}
.modulePortfolio .moduleAbout__skills .moduleAbout__skills__langues .moduleAbout__skills__langues__text {
  width: 100%;
  border-color: blue;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17.92px;
}
.modulePortfolio .modulePortfolio__close {
  position: absolute;
  top: 38px;
  right: 38px;
  border-color: red;
  width: 25px;
  cursor: pointer;
  z-index: 3;
}
.modulePortfolio .modulePortfolio__close:hover {
  transform: scale(0.9);
}
.modulePortfolio .modulePortfolio__close img {
  width: 100%;
}
.why {
  max-width: 1280px;
  border-color: red;
  margin: 0 auto;
  margin-top: 400px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.why .why__3d {
  min-width: 500px;
  border-color: blue;
  position: absolute;
  top: -90px;
  right: 50px;
  perspective: 400vw;
}
.why .why__3d .why__3d__block {
  width: 50%;
  height: 153px;
  border-color: orange;
  overflow: hidden;
  box-shadow: -3.84px 3.84px 5.12px #000000;
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(5deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #c2c2c2;
}
.why .why__3d .why__3d__block:nth-child(2) {
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(5deg) translateX(40%) translateY(-75%);
  z-index: 1;
}
.why .why__3d .why__3d__block:nth-child(2) img {
  top: -719px;
  width: 108%;
}
.why .why__3d .why__3d__block:nth-child(3) {
  width: 20%;
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(5deg) translateX(270%) translateY(-85%);
  z-index: 10;
}
.why .why__3d .why__3d__block:nth-child(3) img {
  width: 300%;
  left: -90px;
  top: -330px;
}
.why .why__3d .why__3d__block:nth-child(4) {
  width: 25%;
  height: 140.8px;
  z-index: 1;
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(5deg) translateX(-70%) translateY(-29%);
}
.why .why__3d .why__3d__block:nth-child(4) img {
  width: 280%;
  left: -170px;
  top: -720px;
}
.why .why__3d .why__3d__block:nth-child(5) {
  width: 30%;
  height: 150.8px;
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(5deg) translateX(25%) translateY(99%);
}
.why .why__3d .why__3d__block:nth-child(5) img {
  width: 200%;
  left: -10%;
  top: -150px;
}
.why .why__3d .why__3d__block:nth-child(6) {
  width: 50%;
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(5deg) translateX(55%) translateY(85%);
  z-index: 0;
}
.why .why__3d .why__3d__block:nth-child(6) img {
  width: 100%;
  top: 0%;
  left: 0%;
}
.why .why__3d .why__3d__block:nth-child(7) {
  width: 23%;
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(5deg) translateX(270%) translateY(79%);
}
.why .why__3d .why__3d__block:nth-child(7) img {
  width: 300%;
  position: relative;
  top: -200px;
  left: -50%;
}
.why .why__3d .why__3d__block img {
  width: 100%;
  position: relative;
  top: 0%;
  left: 0%;
}
.why .why__title {
  position: absolute;
  width: 38%;
  border-color: black;
  top: -96px;
  left: 4%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40.96px;
}
.why .why__block {
  width: 38%;
  border-color: blue;
}
.why .why__block:nth-child(5) {
  margin-left: auto;
  margin-top: 100px;
}
.why .why__block:nth-child(6) {
  margin-top: 180px;
  width: 40%;
}
.why .why__block .why__block__title {
  width: 100%;
  border-bottom-style: solid;
  border-color: #514BB8;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16.64px;
  padding-bottom: 13px;
  border-width: 3.84px;
}
.why .why__block .why__block__description {
  width: 100%;
  border-color: orange;
  margin-top: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 17.92px;
}
.why .why__image {
  width: 62%;
  height: 486px;
  border-color: #57ce07;
  margin-top: 60px;
  overflow: hidden;
  position: absolute;
  top: 102.4px;
  left: 0;
}
.why .why__image img {
  width: 100%;
  position: absolute;
  top: -50px;
  left: -30px;
}
.why .why__benefit {
  width: 500px;
  border-color: red;
  position: absolute;
  top: 576px;
  right: 90px;
  perspective: 400vw;
  margin-top: 5%;
}
.why .why__benefit img {
  width: 100%;
  transform: rotateX(45deg) rotateZ(45deg) rotateY(-12deg) translateX(0%) translateY(0%);
  box-shadow: 2.8vw 1.4vw 0.9vw rgba(0, 0, 0, 0.363);
  background-color: #c2c2c2;
  transition-duration: 300ms;
}
.why .why__benefit img:hover {
  transform: rotateX(45deg) rotateZ(45deg) rotateY(-12deg) translateX(-20%) translateY(0%);
}
.services {
  width: 100%;
  border-color: red;
  margin-top: 434px;
  background-color: black;
  padding: 10px;
  padding-bottom: 70px;
  padding-top: 40px;
  position: relative;
}
.services .services__line {
  width: 100%;
  height: 7vw;
  background-color: black;
  position: absolute;
  top: -6vw;
  left: -48vw;
  transform: rotate(7deg);
}
.services .services__line:nth-child(1) {
  background-color: black;
  left: 50vw;
  transform: rotate(-7deg);
}
.services .services__line:nth-child(3) {
  background-color: black;
  top: initial;
  height: 10vw;
  bottom: -7vw;
  width: 110%;
  left: initial;
  right: -1vw;
  transform: rotate(-3deg);
}
.services .services__top {
  width: 100%;
  border-color: blue;
  padding-top: 50px;
}
.services .services__top .services__top__logo {
  width: 100px;
  border-color: orange;
  color: #6b64f7;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 17.92px;
  margin: 0 auto;
  position: relative;
}
.services .services__top .services__top__logo:before {
  content: "";
  width: 100%;
  height: 2.56px;
  background-color: #6059DA;
  position: absolute;
  bottom: -10px;
  left: 0;
  box-shadow: 0px 0px 1.2vw 0.4vw #6059DA;
}
.services .services__top .services__top__title {
  width: 100%;
  border-color: pink;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 38.4px;
  margin-top: 25px;
}
.services .services__top .services__top__description {
  width: 100%;
  border-color: #57ce07;
  color: rgba(255, 255, 255, 0.47);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 15.744px;
  text-align: center;
  line-height: 23.04px;
  margin-top: 20px;
}
.services .services__bottom {
  max-width: 1280px;
  border-color: red;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services .services__bottom .services__bottom__block {
  width: 320px;
  border-color: #000000;
  padding: 24px;
  padding-top: 30px;
  padding-bottom: 35px;
  background: rgba(36, 36, 36, 0.78);
  position: relative;
  margin-top: 45px;
  transition-duration: 300ms;
  top: 0;
  left: 0;
  border-style: solid;
  margin-left: 25px;
  margin-right: 25px;
  cursor: default;
}
.services .services__bottom .services__bottom__block:hover {
  top: -2vw;
}
.services .services__bottom .services__bottom__block:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.25px;
  background: #726aff;
}
.services .services__bottom .services__bottom__block .services__bottom__block__image {
  width: 61px;
  border-color: orange;
}
.services .services__bottom .services__bottom__block .services__bottom__block__image img {
  width: 100%;
}
.services .services__bottom .services__bottom__block .services__bottom__block__title {
  width: 100%;
  border-color: green;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 17.28px;
  margin-top: 14px;
  line-height: 24.32px;
}
.services .services__bottom .services__bottom__block .services__bottom__block__description {
  width: 100%;
  border-color: red;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.61);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 17.152px;
}
.faq {
  max-width: 1280px;
  border-color: red;
  margin: 0 auto;
  margin-top: 265px;
}
.faq .faq__title {
  width: 100%;
  border-color: blue;
  text-align: center;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 29.44px;
}
.faq .faq__title span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #6059DA;
}
.faq .faq__description {
  width: 100%;
  border-color: orange;
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.56);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15.36px;
  margin-bottom: 60px;
}
.faq .faq__block {
  width: 80%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.33);
  border-width: 2.56px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 7px;
  padding-bottom: 5px;
  padding-left: 23px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.faq .faq__block .faq__block__pluse {
  color: white;
  background-color: black;
  width: 31px;
  height: 32px;
  font-size: 35.84px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding-left: 8px;
  line-height: 33.28px;
}
.faq .faq__block .faq__block__text {
  width: 90%;
  border-color: #5e5959;
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16.64px;
  line-height: 35.84px;
}
.faq .faq__block .faq__block__description {
  width: 100%;
  border-color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 15.36px;
  line-height: 21.76px;
  display: none;
}
.footer {
  width: 100%;
  border-color: orange;
  margin-top: 428px;
  background-color: black;
  padding-top: 0.2px;
  padding-bottom: 30px;
  position: relative;
}
.footer:before {
  content: "";
  width: 120%;
  height: 292px;
  background-color: black;
  position: absolute;
  top: -135px;
  left: -100px;
  transform: rotate(-5deg);
  z-index: 0;
}
.footer .footer__title {
  width: 100%;
  border-color: blue;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 40.96px;
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  z-index: 4;
}
.footer .footer__contact {
  max-width: 1280px;
  border-color: red;
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer .footer__contact .footer__contact__left {
  width: 40%;
  border-color: #57ce07;
}
.footer .footer__contact .footer__contact__left .footer__contact__left__messenger {
  width: 100%;
  border-color: pink;
  display: flex;
  margin-top: 10px;
  transform: rotate(0deg);
  transition-duration: 300ms;
  flex-wrap: wrap;
}
.footer .footer__contact .footer__contact__left .footer__contact__left__messenger:hover {
  transform: rotate(5deg) translateX(3vw);
}
.footer .footer__contact .footer__contact__left .footer__contact__left__messenger .footer__contact__left__messenger__image {
  width: 52px;
  border-color: yellow;
  transform: rotate(0deg) translateX(0vw);
  transition-duration: 300ms;
}
.footer .footer__contact .footer__contact__left .footer__contact__left__messenger .footer__contact__left__messenger__image img {
  width: 100%;
}
.footer .footer__contact .footer__contact__left .footer__contact__left__messenger .footer__contact__left__messenger__text {
  border-color: #c2c2c2;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20.48px;
  line-height: 57.6px;
  padding-left: 35px;
}
.footer .footer__contact .footer__contact__right {
  width: 50%;
  border-color: blue;
  position: relative;
}
.footer .footer__contact .footer__contact__right:before {
  content: "";
  width: 100%;
  height: 2.56px;
  background-color: #4842A3;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.footer .footer__contact .footer__contact__right .footer__contact__right__title {
  width: 100%;
  border-color: orange;
  color: #6059DA;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 24.32px;
  margin-top: -40px;
  margin-bottom: -15px;
}
.footer .footer__contact .footer__contact__right .footer__contact__right__description {
  width: 100%;
  border-color: green;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 17.28px;
  margin-top: 30px;
}
.footer .footer__created {
  width: 100%;
  border-color: red;
  color: rgba(255, 255, 255, 0.39);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 17.92px;
  margin-top: 130px;
}
.footer .footer__author {
  width: 100%;
  border-color: red;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 17.92px;
  margin-top: 30px;
}
@media screen and (max-width: 1091px) {
  body {
    overflow-x: hidden;
  }
  header {
    padding-bottom: 14%;
  }
  header:after {
    display: none;
  }
  header:before {
    display: none;
  }
  header .headers {
    display: block;
  }
  header .headers .headers__left {
    width: 100%;
    display: none;
  }
  header .headers .headers__right {
    width: 100%;
  }
  header .headers .headers__right .headers__right__top {
    margin: 0 auto;
    margin-top: 17%;
  }
  header .headers .headers__right .headers__right__top .background .headers__right__top__logo-title {
    font-size: 8.4vw;
  }
  header .headers .headers__right .headers__right__top .background .headers__right__top__title-desc {
    font-size: 3vw;
  }
  header .headers .headers__right .headers__right__top .background .headers__right__top__description {
    font-size: 3.9vw;
  }
  header .headers .headers__right .headers__right__pages {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  header .headers .headers__right .headers__right__do-it {
    text-align: center;
    margin-left: initial;
  }
  header .headers .headers__right .headers__right__do-it:before {
    width: 90%;
  }
  main {
    margin-top: 10%;
  }
  main .about {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  main .about .about__image {
    width: 85%;
    margin: 0 auto;
  }
  main .about .about__image .about__image__text {
    bottom: -110px;
  }
  main .about .about__text {
    width: 80%;
    margin: 0 auto;
    margin-top: 18%;
  }
  main .portfolio {
    margin-top: 150px;
  }
  main .portfolio .portfolio__project .portfolio__project__block {
    width: 83%;
    margin-top: 10%;
    padding-top: 4%;
  }
  main .portfolio .portfolio__project .portfolio__project__block .portfolio__project__block__image {
    height: 34vw;
  }
  .moduleAbout .moduleAbout__close {
    right: initial;
    left: 89%;
    top: 12%;
    width: 4.5%;
  }
  .moduleAbout .moduleAbout__top {
    display: block;
  }
  .moduleAbout .moduleAbout__top .moduleAbout__top__we {
    width: 100%;
  }
  .moduleAbout .moduleAbout__top .moduleAbout__top__about {
    width: 100%;
  }
  .moduleAbout .moduleAbout__bottom {
    display: block;
    margin-top: 125px;
  }
  .moduleAbout .moduleAbout__bottom .moduleAbout__bottom__title {
    width: 100%;
  }
  .moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock {
    width: 100%;
  }
  .moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock:nth-child(4) {
    margin-left: initial;
  }
  .moduleAbout .moduleAbout__bottom .moduleAbout__bottom__miniBlock .moduleAbout__bottom__miniBlock__image img {
    width: 150px;
  }
  .moduleAbout .moduleAbout__bottom .moduleAbout__bottom__title {
    top: -66px;
  }
  .moduleAbout .moduleAbout__bottom .moduleAbout__bottom__title:before {
    width: 41%;
    height: 0.6vw;
  }
  .moduleAbout .moduleAbout__skills {
    width: 100%;
    flex-wrap: wrap;
  }
  .moduleAbout .moduleAbout__skills .moduleAbout__bottom__title {
    width: 100%;
  }
  .moduleAbout .moduleAbout__skills .moduleAbout__bottom__title:before {
    width: 41%;
    height: 0.6vw;
  }
  .modulePortfolio {
    width: 100%;
  }
  .modulePortfolio .modulePortfolio__top {
    display: block;
  }
  .modulePortfolio .modulePortfolio__top .modulePortfolio__top__title {
    top: -80px;
  }
  .modulePortfolio .modulePortfolio__top .modulePortfolio__top__button {
    margin-top: 50px;
    display: block;
  }
  .modulePortfolio .modulePortfolio__top .modulePortfolio__top__github {
    width: 100%;
    margin-top: 104px;
  }
  .modulePortfolio .modulePortfolio__screen {
    margin-top: 20%;
    display: none;
  }
  .modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__title {
    font-size: 3.9vw;
    top: -65%;
  }
  .modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider {
    width: 100%;
    height: initial;
    display: flex;
    flex-wrap: wrap;
  }
  .modulePortfolio .modulePortfolio__screen .modulePortfolio__screen__slider .modulePortfolio__screen__slider__img {
    width: 100%;
  }
  .modulePortfolio .moduleAbout__skills {
    flex-wrap: wrap;
  }
  .why {
    margin-top: 175px;
  }
  .why .why__3d {
    display: none;
  }
  .why .why__title {
    width: 100%;
  }
  .why .why__block {
    width: 100%;
    margin: 0 auto;
  }
  .why .why__block:nth-child(6) {
    width: 100%;
    margin-top: 110px;
  }
  .why .why__image {
    display: none;
  }
  .why .why__benefit {
    display: none;
  }
  .services {
    margin-top: 200px;
  }
  .services .services__bottom {
    display: block;
  }
  .services .services__bottom .services__bottom__block {
    margin: 0 auto;
    margin-top: 65px;
  }
  .faq .faq__description {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .faq .faq__block {
    width: 90%;
  }
  .faq .faq__block .faq__block__pluse {
    display: none;
  }
  .footer:before {
    display: none;
  }
  .footer .footer__contact {
    width: 90%;
    display: block;
  }
  .footer .footer__contact .footer__contact__left {
    width: 100%;
    margin: 0 auto;
  }
  .footer .footer__contact .footer__contact__left .footer__contact__left__messenger .footer__contact__left__messenger__text {
    font-size: 18px;
  }
  .footer .footer__contact .footer__contact__right {
    margin-top: 110px;
    width: 100%;
  }
  .footer .footer__created {
    width: 90%;
    margin: 0 auto;
  }
}
